#bio-sensor:active i {
    color: #00ff41 !important;
    text-shadow: 0 0 10px #00ff41;
}

#bio-sensor:active {
    border-color: #00ff41 !important;
    box-shadow: inset 0 0 15px rgba(0,255,65,0.2);
}