/* Calendar App Styles:calendar-app-window, grid-day-numbers, event-highlights */

/* Apply to the main calendar container */
.calendar-app-window {
    height: 100%;
    --base-font: clamp(12px, 1vw, 16px);
    --small-font: clamp(10px, 0.8vw, 13px);
    --header-font: clamp(18px, 2vw, 24px);
    --text-main: clamp(12px, 1vw, 16px); 
    --text-sub: clamp(9px, 0.7vw, 11px);
    --text-title: clamp(18px, 1.5vw, 24px)
}

.calendar-app-window div {
    font-size: var(--base-font);
}

/* Day numbers in the grid */
.grid-day-number {
    font-size: var(--base-font);
    font-weight: bold;
}

/* Sovereign labels inside the cells */
.grid-label {
    font-size: var(--small-font);
}

@media (min-width: 600px) {
    #vpu-date-picker {
        flex: 0 1 auto !important;
        width: auto !important;
    }
}

/* Additional calendar app styles can be added here */