/* Time app styles: TemoralEngine, time-display, alarm-settings */
.time-app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--ubuntu-light-purple);
}
.time-header {
    background-color: var(--ubuntu-purple);
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
.time-display {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: var(--ubuntu-dark-aubergine);
}
.alarm-settings {
    background-color: var(--ubuntu-light-blue);
    padding: 15px;
    border-top: 1px solid var(--ubuntu-purple);
}
.alarm-settings h3 {
    margin-bottom: 10px;
    color: var(--ubuntu-purple);
}
.alarm-settings label {
    display: block;
    margin-bottom: 5px;
    color: var(--ubuntu-dark-aubergine);
}
.alarm-settings input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--ubuntu-purple);
    border-radius: 4px;
}
/* Additional time app styles can be added here */