:root {
    --neon-purple: #a445ff;
    --bg-black: #050505;
}

body {
    background: var(--bg-black);
    color: white;
    font-family: 'Sovereign-Mono', monospace;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.kiosk-container { text-align: center; width: 80%; }

.terminal-header h1 {
    font-size: 2.5rem;
    color: var(--neon-purple);
    margin-bottom: 0.5rem;
    border-right: 3px solid var(--neon-purple); /* The cursor */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.error-text {
    color: #ff4545;
    margin-top: 20px;
    font-size: 0.9rem;
}

#enter-btn {
    background: transparent;
    border: 1px solid var(--neon-purple);
    color: var(--neon-purple);
    padding: 15px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 30px;
}

#enter-btn:hover {
    background: var(--neon-purple);
    color: black;
    box-shadow: 0 0 20px var(--neon-purple);
}

.hidden-element { display: none; }